mixin item(title, href)
    li
        a.authors__author(href=href target="_blank" rel="noreferrer")= title


.main-block__authors.element-area
    div.main-block__button-inner
        button.main-block__back-button='←'
    ul.main-block__names
        p= "Авторы"
        +item('@barzug', 'https://github.com/barzug')
        +item('@OkciD', 'https://github.com/OkciD')
        +item('@EvgeniaNevtrinosova', 'https://github.com/EvgeniaNevtrinosova')
        +item('@erm0shin', 'https://github.com/erm0shin')

