.main-block__rules
    h3="Цель игры: дойти своей фишкой до противоположной стороны поля первым. В свой ход игрок может либо передвигать фишку, либо ставить преграду на пути соперника. Преграда – это небольшая стеночка, которая может удлинить путь противника. Но когда вы ставите стенку перед соперником, вы сами вынуждены оставаться на месте. Выигрывает тот, кто первым дойдет до противоположной стороны поля."
