@import "../colors.scss";
@import "../fonts.scss";
@import "../sizes.scss";

@mixin size($rules-size) {
  width : $rules-size - 10%;
  height: $rules-size;
}

@mixin min-size($min-size) {
  min-width: $min-size + 100px;
  min-height: $min-size;
}

@mixin margin-lr($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@media screen and (max-width: 350px) {
  .main-block__rules {
    font-size: 14px;
  }
}

.main-block__rules {
  @include size(40%);
  @include min-size($min-rules-size);
  @include margin-lr(auto);

  color: $blue-green;

  font-family: sans-serif;
  font-size: $rules-font-size;

  display: block;

  border-radius: 10px;
  border: solid $dark-green;

  background-color: rgba(192, 192, 192, 0.7);
  align-items: center;
  padding: 1% 3%;
  margin-top: 3%;
  margin-bottom: 2%;
  justify-content: space-between;

  p {
    font-size: 120%;
  }
}