@mixin size($size) {
  height : $size;
  width : $size;
}

.sound-block
{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sound-block__mute
{
  @include size(15%);
  margin-right: 3%;
}
