.main-block__registration-form
    form.registration-form__form.form.element-area
        //p.form__title Регистрация
        input(type="text", name="login", placeholder="Логин").form__field
        input(type="text", name="email", placeholder="Email").form__field
        input(type="password", name="password", placeholder="Пароль").form__field
        input(type="password", name="passwordConfirm", placeholder="Подтверждение пароля").form__field
        input(type="submit", value="Регистрация").form__button
        p.form__message
