.main-menu
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: greenyellow;
	padding: 1% 3%;
}

.main-menu__item
{
	width: 150%;
	height: 125%;
	margin: 10%;
}
