.user-block__button {
    height: 40px;
    width: 121px;
    font-size: 18px;
    font-family: "Neucha Regular", sans-serif;
    color: #C3EB78;
    background-color: #306B34;
    margin-top: 10px;
}

.user-block__button:hover {
    background-color: #428D47;
    border-color: #C3EB78;
}
