@font-face {
	font-family: Lombardia Regular;
	src: url("../fonts/lombardia.ttf");
	font-weight: normal;
	font-style: normal;
}

.gameName {
	font-family: "Lombardia Regular", sans-serif;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 0 0 1em red;
	/*text-shadow: 2px 2px 3px black, 0 0 1em red; !* Параметры тени *!*/

	font-size: 140px;
	/*margin-bottom: -7%;*/
	/*margin-top: 3%;*/
	color: rgb(0, 0, 0);
}

html {
	background-color:  #333333
}



/*html {*/
	/**/
	/*background: url('../images/castle.png') no-repeat center center fixed;*/
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
/*}*/

/*#main {*/
	/*background: url(../images/castle.png) no-repeat;*/
	/*!*width: 450px;*!*/
	/*!*height: 448px;*!*/
	/*!*border-radius: 100px;*!*/
	/*!*box-shadow: 0 0 0 3px #a54831, 0 0 13px #333;*!*/
/*}*/

