@import "../fonts.scss";
@import "../sizes.scss";
@import "../colors.scss";

@mixin margin-bt($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@font-face {
  font-family: Neucha Regular;
  src: url(/public/static/fonts/Neucha.ttf);
  font-weight: normal;
  font-style: normal;
}

.main-block__rating {
  display: flex;
  flex-direction: column;
  //background-color: $grey-background ;
  color: $blue-green;
  font-size: 170%;
  //margin-top: 0;
  width : $rating-width;
  height: $rating-height;
  justify-content: flex-start;
  padding: 10px 0 10px 10px;

  border-radius: 10px;
  border: solid $dark-green;
  background-color: rgba(192, 192, 192, 0.7);

  p{
    margin-top: 3%;
    margin-bottom: 9%;
    font-size: 120%;
    font-family: $main-menu-font;
  }

  h3 {
    @include margin-bt(5px);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    height: 100%;

    .loading-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      margin-top: 5px;

      .loading {
        margin: 0;
      }
    }

    li {
      font-family: $main-menu-font;
      font-size: 90%;
      list-style-type: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .userName {
      margin-left: 5%;
    }

    .score {
      margin-right: 5%;
    }
  }
}


