div.main-block__rating.element-area
    h3= "Рейтинг"
    ul.scoreboard
        li.loading-block(style="display: none")
            .loading
        each value in dataList
            li
                span.userName= value.userName
                span.score= value.score
        li.loading-block
            .loading