@import "../fonts.scss";
@import "../sizes.scss";
@import "../colors.scss";

@mixin margin-bt($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@font-face {
  font-family: Neucha Regular;
  src: url(/public/static/fonts/Neucha.ttf);
  font-weight: normal;
  font-style: normal;
}

.main-block__rating {
  display: flex;
  flex-direction: column;
  //background-color: $grey-background ;
  color: $blue-green;
  font-size: 170%;
  //margin-top: 0;
  width : $rating-width;
  height: $rating-height;
  justify-content: flex-start;
  overflow: auto;

  h3 {
    @include margin-bt(5px);
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 90%;

    li {
      font-family: $main-menu-font;
      font-size: 90%;
      list-style-type: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}


