.main-block__gamemode {
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.7);
    color: #116B55;
    font-size: 32px;
    font-family: cursive;
    text-align: center;
}