mixin item(title, href)
    button.main-block__gamemode-button(value=href)= title


.main-block__gamemode.element-area
    +item('Игра в одиночку', '/game?mode=singleplayer')
    +item('Игра с противником', '/game?mode=multiplayer')
