@import "../colors.scss";
@import "../fonts.scss";
@import "../sizes.scss";

.main-block__gamemode {
  display: flex;
  flex-direction: column;

  color: $dark-green;
  font-size: 90%;
  font-family: $cursive-font;
  text-align: center;
}

h3 {
  margin-top : 3%;
  margin-bottom : 1%;
  font-size: 170%;
}

.main-block__gamemode-button {
  height: $menu-button-height;
  width: 100%;
  font-size: 150%;
  font-family: $main-menu-font;
  color: $light-green;
  background-image: url('../../../public/static/images/mramor.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 5%;
  border-radius: 10px;
}

.main-block__gamemode-button:hover {
  border-color: $dark-green;
  border-radius: 20px;
}
