mixin item(title, href)
    button.main-block__gamemode-button(value=href)= title


.main-block__gamemode.element-area
    div.main-block__button-inner
        button.main-block__back='←'
    ul.main-block__modes
        +item('Игра в одиночку', '/game?mode=singleplayer')
        +item('Игра с противником', '/game?mode=multiplayer')