mixin item(title, href)
    button.main-block__gamemode-button(value=href)= title


.main-block__gamemode.element-area
    h3= "Режим игры"
    +item('Нет друзей:(', '/game?mode=singleplayer')
    +item('Есть друзья:)', '/game?mode=multiplayer')
