mixin item(title, href)
    button.main-menu__menu-button(value=href)= title


.main-block__gamemode.element-area
    p= "Режим игры"
    +item('Нет друзей:(', '/game')
    +item('Есть друзья:)', '/game')
