@import "../colors.scss";
@import "../fonts.scss";
@import "../sizes.scss";

@mixin margin-lr($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin margin-bt($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

.main-menu__menu-button {
    height: $menu-button-height;
    width: 100%;
    font-size: 150%;
    font-family: $main-menu-font;
    color: $light-green;
    background-image: url('../../../public/static/images/mramor.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 5%;
    border-radius: 10px;

}

.main-menu__menu-button:hover {
    border-color: $dark-green;
    border-radius: 20px;
}

.change-theme {
    @include margin-bt(5%);
    @include margin-lr(auto);
    height: $change-theme-button-height;
    width: 60%;
    font-size: 120%;
    font-family: $main-menu-font;
    color: $light-green;

    display: block;
    background-image: url('../../../public/static/images/mramor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.change-theme:hover {
    border-color: $dark-green;
    border-radius: 20px;
}