@import "../colors.scss";
@import "../fonts.scss";
@import "../sizes.scss";

@mixin size($size) {
  height : $size;
  width : $size;
}

@mixin aligment($aligment) {
  justify-content: $aligment;
  align-items: $aligment;
}

@font-face {
  font-family: Lombardia Regular;
  src: url("../../../public/static/fonts/lombardia.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  background-image: url('../../../public/static/images/wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  touch-action: none;  
}


html, body, #root {
  @include size(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#root {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 3fr 3fr;
}

.top-bar {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;

  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.game-name-block {
  @include aligment(center);
  width: 100%;
  display: flex;
  flex-direction: row;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.game-name-block__game-name {
  font-family: $game-name-font;
  text-shadow: $game-name-shadow;
  font-size: 800%;

  color: $dark-green;
  margin-bottom: 1%;
}


h1 {
  margin-top: 5%;
}

.central-block {
  width: 400px;
  display: grid;
  grid-template-columns: 60px 300px;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
}



.central-block__button {
  grid-column: 1 / 2;

  display: grid;
  grid-template-rows: 120px 100px;
}

.central-block__button-inner {
  grid-row: 1 / 2;
}

.central-block__button-to-back {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: $dark-green;
  color: $light-green;
  font-size: 150%;
}

.central-block__main-block {
  @include aligment(center);
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-column: 2 / 3;

}