#root
    div.top-bar
    div.game-name-block
        h1.game-name-block__game-name Quoridor
    div.central-block
        div.central-block__button
            div.central-block__button-inner
                button.central-block__button-to-back.no-route='←'
        div.central-block__main-block