@import "../colors.scss";
@import "../fonts.scss";
@import "../sizes.scss";

@mixin size($size) {
  height : $size;
  width : $size;
}

@mixin aligment($aligment) {
  justify-content: $aligment;
  align-items: $aligment;
}



//@media screen and (orientation:landscape) {
//  html{
//
//  }
//}

@media not screen and (max-width: 500px) and (min-width: 350px) {
  @-ms-viewport {
    orientation: portrait;
  }

  @font-face {
    font-family: Lombardia Regular;
    src: url("../../../public/static/fonts/lombardia.ttf");
    font-weight: normal;
    font-style: normal;
  }

  html {
    background-image: url('../../../public/static/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    touch-action: none;
  }

  html, body, #root {
    @include size(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
  }

  #root {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 3fr 3fr;
  }

  .top-bar {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .game-name-block {
    @include aligment(center);
    width: 100%;
    display: flex;
    flex-direction: row;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .game-name-block__game-name {
    font-family: $game-name-font;
    text-shadow: $game-name-shadow;
    font-size: 800%;

    color: $dark-green;
    margin-bottom: 1%;
  }

  h1 {
    margin-top: 5%;
  }

  .main-block {
    width: 400px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    @include aligment(center);
    display: flex;
    flex-direction: row;

  }

  html {
    background-image: url('../../../public/static/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    touch-action: none;
  }
}

@media screen and (max-width: 500px) {
  @-ms-viewport {
    orientation: portrait;
  }

  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr 3fr;
  }

  .main-block {
    width: 400px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    @include aligment(center);
    display: flex;
    flex-direction: row;

  }

  .game-name-block {
    @include aligment(center);
    width: 100%;
    display: flex;
    flex-direction: row;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .top-bar {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .game-name-block__game-name {
    font-family: $game-name-font;
    text-shadow: $game-name-shadow;
    font-size: 800%;

    color: $dark-green;
    margin-bottom: 1%;
  }

  @font-face {
    font-family: Lombardia Regular;
    src: url("../../../public/static/fonts/lombardia.ttf");
    font-weight: normal;
    font-style: normal;
  }

  html {
    background-image: url('../../../public/static/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    touch-action: none;
  }

  html, body, #root {
    @include size(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
  }
}


@media screen and (max-width: 350px) {


  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr 3fr;
  }

  .main-block {
    width: 400px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    @include aligment(center);
    display: flex;
    flex-direction: row;

  }

  .game-name-block {
    @include aligment(center);
    width: 100%;
    display: flex;
    flex-direction: row;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .top-bar {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .game-name-block__game-name {
    font-family: $game-name-font;
    text-shadow: $game-name-shadow;
    font-size: 700%;
    margin-top: 20%;
    color: $dark-green;
    margin-bottom: 1%;
  }

  @font-face {
    font-family: Lombardia Regular;
    src: url("../../../public/static/fonts/lombardia.ttf");
    font-weight: normal;
    font-style: normal;
  }

  html {
    background-image: url('../../../public/static/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    touch-action: none;
  }

  html, body, #root {
    @include size(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
  }
}


@media screen and (max-width: 800px) and (max-height: 500px) {
  @font-face {
    font-family: Lombardia Regular;
    src: url("../../../public/static/fonts/lombardia.ttf");
    font-weight: normal;
    font-style: normal;
  }

  html {
    background-image: url('../../../public/static/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    touch-action: none;
  }

  html, body, #root {
    @include size(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
  }

  #root {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 3fr 3fr;
  }

  .top-bar {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .game-name-block {
    @include aligment(center);
    width: 100%;
    display: flex;
    flex-direction: row;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .game-name-block__game-name {
    font-family: $game-name-font;
    text-shadow: $game-name-shadow;
    font-size: 300%;

    color: $dark-green;
    margin-bottom: 1%;
  }

  h1 {
    margin-top: 5%;
  }

  .main-block {
    width: 400px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    @include aligment(center);
    display: flex;
    flex-direction: row;

  }

  html {
    background-image: url('../../../public/static/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    touch-action: none;
  }

  //.user-block__button {
  //  /* height: 49%; */
  //  width: 100%;
  //  font-size: 110%;
  //  font-family: "Neucha Regular", sans-serif;
  //  color: #C3EB78;
  //  margin-top: 3%;
  //  background-image: url('../../../public/static/images/mramor.jpg');
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  border-radius: 10px;
  //}
  //
  //.main-menu__menu-button {
  //  height: 25px;
  //  width: 51%;
  //  font-size: 90%;
  //  font-family: "Neucha Regular", sans-serif;
  //  color: #C3EB78;
  //  background-image: url('../../../public/static/images/mramor.jpg');
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  margin-top: 5%;
  //  margin-left: 25%;
  //  border-radius: 10px;
  //}
  //
  //.change-theme {
  //  margin-top: 5%;
  //  margin-bottom: 5%;
  //  margin-left: auto;
  //  margin-right: auto;
  //  height: 26px;
  //  width: 35%;
  //  font-size: 66%;
  //  font-family: "Neucha Regular", sans-serif;
  //  color: #C3EB78;
  //  display: block;
  //  background-image: url('../../../public/static/images/mramor.jpg');
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  border-radius: 10px;
  //}

}
