canvas.game__canvas
div.game__interface
    div.interface__information
        div.information__hero--one
        div.information__timer
        div.information__hero--two
    div.interface__rules
        p
            | R - повернуть стенку
        p
            | F - на полный экран  
    button.interface__button-to-close-rules.no-route='↓'
                    