@import "../colors.scss";
@import "../fonts.scss";

.main-block__game {
  color: $blue-green;
  text-shadow: $text-shadow;
  font-family: $cursive-font;
}

.renderCanvas {
  position: fixed; 
  left: 0; top: 0;
  touch-action: none;
}