@import "../colors.scss";
@import "../fonts.scss";


.game__canvas {
  position: fixed; 
  left: 0; top: 0;
}

.game {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.game__interface {
  width: 100%;
  height: 100%;
}

.interface__top-bar {
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 20px;
    left: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.top-bar__hero--one {
  color: blue;
  font-family: monospace;
  text-align: center;
}

.hero--one__name, .hero--two__name {
  font-size: 23px;
}

.top-bar__messages {
  font-size: 220%;
  color: $light-green;
  font-family: monospace;
  margin-left: 50%;
}

.hero--one__walls, .hero--two__walls {
  font-size: 15px;
}

.top-bar__hero--two {
  color: red;
  font-family: monospace;
  text-align: center;

}

@media screen and (max-width: 370px) {
    .interface__rules {
        width: 80vw;
        height: 90vh;
    }
}

 @media not screen and (max-width: 370px) {
    .interface__rules {
        width: 300px;
        height: 300px;
    }
 }

.interface__rules {
    z-index: 2;

    position: fixed;
    right: 10px;
    bottom: 10px;

    color: $blue-green;

    font-family: sans-serif;

    display: block;

    border-radius: 10px;
    border: solid $dark-green;

    background-color: rgba(192, 192, 192, 0.7);
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    justify-content: space-between;

    padding: 1% 3%;

    p {
        font-size: 120%;
    }
}


.interface__button-to-close-rules {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $dark-green;
    color: $light-green;
    font-size: 150%;
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 3;
}