canvas.game__canvas
div.game__interface
    div.interface__top-bar
        div.top-bar__hero--one
            p.hero--one__name
                | Синий игрок
            p.hero--one__walls
                | Стенок: 8
        div.top-bar__messages
            p.messsages__text
            p.messsages__timer
                |
        div.top-bar__hero--two
            p.hero--two__name
                | Красный игрок
            p.hero--two__walls
                | Стенок: 8
    div.interface__rules
        p
            | R - повернуть стенку
        p
            | F - на полный экран  
    button.interface__button-to-close-rules.no-route='↓'
                    