canvas.game__canvas
div.game__interface
    div.interface__top-bar
        div.top-bar__hero--one
            p
                | Игрок 1
            p
                | Стенок: 5
        div.top-bar__messages
            p
                | 46
        div.top-bar__hero--two
            p
                | Игрок 2
            p
                | Стенок: 6
    div.interface__rules
        p
            | R - повернуть стенку
        p
            | F - на полный экран  
    button.interface__button-to-close-rules.no-route='↓'
                    