@font-face {
    font-family: Neucha Regular;
    src: url(../static/fonts/Neucha.ttf);
    font-weight: normal;
    font-style: normal;
}

.button__big-lightgreen, .button__little-darkgreen, .button__big-darkgreen {
    transition: border-radius .3s ease-in-out;
}


.button__big-lightgreen {
    height: 55px;
    width: 216px;
    font-size: 24px;
    font-family: "Neucha Regular", sans-serif;
    color: #116B55;
    background-color: #C3EB78;
    border-color: #C3EB78;
    margin-top: 10px;
    border-radius: 2px;
}

.button__big-lightgreen:hover {
    border-color: #116B55;
    background-color: #BEEC63;
    border-radius: 8px;
}

.button__little-darkgreen {
    height: 40px;
    width: 121px;
    font-size: 18px;
    font-family: "Neucha Regular", sans-serif;
    color: #C3EB78;
    background-color: #306B34;
    border-color: #306B34;
    margin-top: 10px;
}

.button__little-darkgreen:hover {
    background-color: #428D47;
    border-color: #C3EB78;
}


.button__big-darkgreen {
    height: 55px;
    width: 216px;
    font-size: 18px;
    font-family: "Neucha Regular", sans-serif;
    color: #C3EB78;
    background-color: #306B34;
    border-color: #306B34;
    margin-top: 10px;
}

.button__big-darkgreen:hover {
    background-color: #428D47;
    border-color: #C3EB78;
    border-radius: 8px;
}



