@font-face {
    font-family: Neucha Regular;
    src: url(../static/fonts/Neucha.ttf);
    font-weight: normal;
    font-style: normal;
}


.button__big-lightgreen {
    height: 55px;
    width: 216px;
    font-size: 24px;
    font-family: "Neucha Regular", sans-serif;
    color: #116B55;
    background-color: #C3EB78;
    margin-top: 10px;
}

.button__little-darkgreen {
    height: 40px;
    width: 121px;
    font-size: 18px;
    font-family: "Neucha Regular", sans-serif;
    color: #C3EB78;
    background-color: #306B34;
    margin-top: 10px;
}

.button__big-darkgreen {
    height: 55px;
    width: 216px;
    font-size: 18px;
    font-family: "Neucha Regular", sans-serif;
    color: #C3EB78;
    background-color: #306B34;
    margin-top: 10px;
}