@import "../fonts.scss";
@import "../colors.scss";
@import "../sizes.scss";

@mixin margin-lr($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin margin-bt($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin font($font) {
  font-weight: $font;
  font-style: $font;
}

@font-face {
  @include font(normal);
  font-family: Neucha Regular;
  src: url(/public/static/fonts/Neucha.ttf);
}

.form__field {
  transition: border-radius .3s ease-in-out;
}

.form__field {
  @include margin-lr(auto);
  margin-bottom: 5%;
  text-align: center;
  width: 80%;
  color: $dark-green;
  font-family: $main-menu-font;
  font-size: 120%;
  border-color: $white-border;
  border-radius: 10px;
  display: block;
}

.form__field:hover {
  border-color: $dark-green;
  border-radius: 3px;
}

.form__message {
  @include margin-lr(auto);
  width : $message-width;
  font-family: $cursive-font;
  color: $message-red;
  font-size: 100%;
  text-align: center;
}

.form__button {
  @include margin-lr(auto);
  height: $menu-button-height;
  width: 80%;
  font-size: 120%;
  color: $light-green;
  font-family: $main-menu-font;
  background-image: url('../../../public/static/images/mramor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 5%;
}

.form__button:hover {
  border-color: $dark-green;
  border-radius: 20px;
}

.auth-form__form, .registration-form__form {
  //display: table-cell;

  display: grid;
  grid-auto-rows: 1fr 5fr;
  vertical-align: middle;
  width: 80%;

}

.main-block__input {
  grid-row: 2 / 3;
  margin-left: -15%;
  margin-top: 5%;
}

.main-block__button-inner {
  grid-row: 1 / 2;
}

.main-block__back-in-form {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../../../public/static/images/mramor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-green;
  font-size: 150%;
  margin-left: 35%;
}

.main-block__back-in-form:hover {
  border-color: $dark-green;
}