@import "../fonts.scss";
@import "../colors.scss";
@import "../sizes.scss";

@font-face {
  font-family: Neucha Regular;
  src: url(/public/static/fonts/Neucha.ttf);
  font-weight: normal;
  font-style: normal;
}

.form__field {
  transition: border-radius .3s ease-in-out;
}

.form__field {
  margin-bottom: 5%;
  text-align: center;
  width: 80%;
  color: $dark-green;
  font-family: $main-menu-font;
  font-size: 120%;
  border-color: $white-border;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__field:hover {
  border-color: $dark-green;
  border-radius: 3px;
}

.form__title {
  font-family: $cursive-font;
  font-size: 190%;
  color: $blue-green;
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
}

.form__message {
  width : $message-width;
  font-family: $cursive-font;
  color: $message-red;
  font-size: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.form__button {
  height: $menu-button-height;
  width: 80%;
  font-size: 120%;
  font-family: $main-menu-font;
  color: $light-green;
  background-color: $form-button-background;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 5%;
}

.form__button:hover {
  background-color: $dark-green-hover;
  border-color: $light-green;
  border-radius: 8px;
}

.auth-form__form, .registration-form__form {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
