@font-face {
    font-family: Neucha Regular;
    src: url(/public/static/fonts/Neucha.ttf);
    font-weight: normal;
    font-style: normal;
}

.main-block__rating {
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.7);
    color: #1C5253;
    font-size: 36px;
    margin-top: 0px;
}

.main-block__rating > h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-block__rating > ul > li {
    font-family: "Neucha Regular", sans-serif;
    font-size: 26px;
    list-style-type: none;
    text-align: center;
}

.main-block__rating > ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 220px;
}