@import "./sizes.scss";
@import "./colors.scss";

@mixin margin-lr($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@font-face {
  font-family: Neucha Regular;
  src: url(../../public/static/fonts/Neucha.ttf);
  font-weight: normal;
  font-style: normal;
}

.main-menu__menu-button, .user-block__button, .form__button {
  transition: border-radius .3s ease-in-out;
}


.element-area {
  @include margin-lr(auto);
  display: block;
  align-items: center;
  padding: 1% 3%;
  margin-bottom: 3%;
  margin-top: 1%;


  width: $element-area-width;
  flex-direction: row;
  justify-content: space-between;
}

canvas:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
canvas:-moz-full-screen {
  width: 100%;
  height: 100%;
}

canvas:full-screen {
  width: 100%;
  height: 100%;
}