$dark-green : #116B55;
$light-green : #C3EB78;
$light-green-hover : #BEEC63;
$dark-green-hover : #428D47;
$grey-background : rgba(192, 192, 192, 0.7);

$white-border : #FFFFFF;
$blue-green : #1C5253;
$message-red : #B6174B;
$form-button-background : #306B34;
$game-name-hover : #246B2B;
$game-name-shadow : -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 0 0 1em #116B55;
$text-shadow: -1px 0 #C3EB78, 0 1px #C3EB78, 1px 0 #C3EB78, 0 -1px #C3EB78;