$menu-button-height : 55px;
$change-theme-button-height : 40px;
$message-width : 220px;
$cry-image-height : 240px;
$rating-width :180px;
$rules-width : 240px;
$rules-height : 350px;
$rules-font-size : 17px;
$user-block-height : 40px;
$user-block-width : 121px;
$element-area-width : 224px;
$min-rules-size : 250px;